footer{
    height: 438px;
    padding: 100px 70px;
    display: flex;
    flex-direction: row;
}
.div1 { 
    width: 447px;
    height: 222px;
    margin-right: 16px;
}
.div1 h1{ 
    width: 224px;
    height: 46px;
    font-size: 44px;
    font-weight: bold;
}
.icons_socials_footer1{ 
    width: 447px;
    height: 27px;
    margin-top: 20px;
}
.icons_socials_footer1 a{ 
    margin-right: 10px;
}
.div2 { 
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    width: 178px;
    height: 222px;
}
.div3 { 
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 222px;
    margin-right: 16px;
}
.a_footer {
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.a_footer:hover {
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: #118DA8;
    margin-bottom: 10px;
}
.icons_socials_footer2{ 
    width: 447px;
    height: 32px;
}
.icons_socials_footer2 a{ 
    margin-right: 17px;
}