.frame4{
    height: 587px;
    padding: 100px 70px;
    
}
.background{
    width: 1300px;
    height: 387px;
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
    position: relative;
}
.vector_frame4{
    width: 147px;
    height: 91px;
    position: absolute;
    z-index: 1;
    left: -38px;
    top:322px;
}
.text_frame4{
    margin-right:227px ;
}
.episodes_frame4{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #118da8;
    width: 139px;
}
.h2_frame4{
    font-size: 79px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    width: 431px;
}
form{
    width: 522px;
    height: 252px;
}
.input{
    width: 522px;
    height: 82px;
    margin-bottom: 20px;
}
.input > input{
    background-color: #191919;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    line-height: 28.8px;
    padding: 26.5px 19px;
}
.button_submit{
    background-color: #118DA8;
    color: #ffff;
    width: 87px;
    height: 48px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 28.8px;
}